/*
 *		START RESET STYLE
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body { background-color: #2D8CC2; overflow-y: hidden; font: 0.75em 'Quicksand', Arial, sans-serif; overflow: hidden; }
.no-js body { overflow: auto; overflow-y: hidden; }

/*
 *		END RESET STYLE
 *	----------------------------------------------------------
 */

#no-js-warn { font: 12px Arial, sans-serif; width: 450px; border-left: 2px solid #888; border-bottom: 2px solid #888; position: fixed; right: 0; top: 0; z-index: 1001; padding: 5px 10px; background: #333; color: #EEE; }

#preSplash { display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #000; z-index: 1000; }
#preSplash p { display: none; margin-top: 200px; font-size: 30px; color: #EEE; text-align: center; }
#jpreOverlay {
    background-color: #000000;
    z-index: 1000;
}
#jpreLoader{
    width:300px;
    height:25px;
    border:2px solid #DDD;
    border-radius:25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    z-index: 1000;
}
#jpreBar {
    background:#0DA1D5;
    border-radius:25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}
#jprePercentage {
    color:#ccc;
    font-weight:bold;
    text-align:center;
    text-shadow:1px 1px 1px #333;
    top:-20px;
}

html, body { height: 100%; }

a { color: #2d8cc1; text-decoration: none; }

#sky { background: #2D8CC2 url(../img/page-bg.png) repeat-x bottom left; position: fixed; width:100%; height: 100%; }
#page-contents { z-index: 300; position: absolute; top: 0; left: 0; width:4200px; height: 100%; overflow: hidden; }

#plne-help { cursor: pointer; position: fixed; bottom: 550px; left: -650px; z-index: 700; }

#nav { background: transparent; position: fixed; top: 0; left: 45px; z-index: 800; }
    .no-js #nav { top: -240px; }
#nav ul { background: transparent url('../img/nav.png') repeat-y; padding: 20px 0; }
#nav ul li {  margin-bottom: 10px; }
#nav ul li a { font: 20px 'Amatic SC', Arial, sans-serif; font-weight: bold; color: #999; display: block; text-align: center; }
    .ie #nav ul li a { font: 12px Arial, sans-serif; height: 25px; }
#nav ul li a:hover, #nav ul li a.current {color: #2d8cc1; }
#logo-main { vertical-align: bottom; width: 122px; }

#mountains-fg { position: absolute; bottom: 0; left: 0; z-index: 102; background: transparent url('../img/mountains-fg.png') repeat-x fixed -300px bottom; width: 100%; height: 200px; }
#mountains-bg { position: absolute; bottom: 0; left: 0; z-index: 101; background: transparent url('../img/mountains-bg.png') repeat-x fixed 70px bottom; width: 100%; height: 200px; }
    .no-js #mountains-bg, .no-js #mountains-fg { background-attachment: scroll; }
#night-bg { position: absolute; bottom: 60px; left: 900px; z-index: 100; height:770px; width: 1800px; background: transparent url('../img/night.jpg') no-repeat bottom left; }
#grass { position: fixed; bottom: 0; left: 0; z-index: 601; background: transparent url('../img/grass.png') repeat-x fixed 0 bottom; width: 100%; height: 80px; }
    .no-js #grass { background-attachment: scroll; }
    .mobile #grass { width: 4200px; }

#balloons-box { position: absolute; bottom: -25px; left: 250px; width: 20px; height: 700px; }
    img.balloons { cursor: pointer; position: absolute; z-index: 301; top: 0; left: 0; }
    div.balloons { position: absolute; bottom: -500px; left: 10px; z-index: 201; }
    .no-js #balloons-box { bottom: 550px; }
#lake { position: fixed; bottom: 40px; left: 0; z-index: 300; background: transparent url('../img/lake.png') no-repeat; width: 788px; height: 510px; }
    .no-js #lake { position: absolute; }
#sun { position: absolute; bottom: 340px; left: 0; width: 667px; height: 558px; }
#big-tree { z-index: 301; position: absolute; bottom: 20px; left: 650px; border: 0; }
#log-lantern { z-index: 405; position: absolute; bottom: -45px; left: 1250px; border: 0; }
#cabin { z-index: 402; position: absolute; bottom: 45px; left: 1550px; border: 0; }
#phonebox { cursor: pointer; background: transparent url('../img/phonebox.png') no-repeat bottom left; width: 426px; height: 528px; z-index: 405; position: absolute; bottom: 30px; left: 2250px; }
#night { position: absolute; top: 0; left: 1000px; z-index: 201; height: 100%; width: 1800px; background: transparent url('../img/night-gradient.png') repeat-y 0 0; }
	.mobile #night { background: transparent none; }
#moon { position: absolute; bottom: 590px; left: 900px; width: 150px; height: 150px; }

#hikers { z-index: 301; position: fixed; bottom: 40px; left: 2000px; }
#horses { z-index: 405; position: absolute; bottom: 40px; left: 2850px; }
	.no-js #horses { left: 2480px; }
#birds { z-index: 200; position: fixed; bottom: 200px; left: 3920px; }

#mountain-lake { position: absolute; bottom: 35px; right: 70px; z-index: 300; background: transparent url('../img/mountain-lake.png') no-repeat; width: 1140px; height: 451px; }
#climber { position: absolute; bottom: 20px; right: 0px; z-index: 300; background: transparent url('../img/climber.png') no-repeat; width: 291px; height: 623px; }

.content { background: transparent url('../img/paper.png') no-repeat 0px 0px; padding: 50px 20px 0 25px; width:345px; height: 460px; cursor: pointer; z-index: 401; display: none; }
.content h2 { font: 32px 'Amatic SC', Arial, sans-serif; font-weight: bold; color: #2d8cc1; text-align: center; margin-bottom: 15px; }
    .ie6 .content h2, .ie7 .content h2, .ie8 .content h2 { font-size: 22px; }
.content .large-text { font: 22px 'Amatic SC', Arial, sans-serif; color: #2d8cc1; text-align: center; }
.content p { margin-top: 8px; text-align: center; }
.content ul { padding-left: 35px; }
.content li { margin-top: 5px; text-align: left; font-size: 0.8em; }
#text-aboutus {  background-image: url('../img/scroll.png'); padding-top: 80px; height: 560px; display: block;}
#text-events { position: absolute; bottom: 100px; left: 1500px; z-index: 10000}
#text-whatwedo { position: absolute; bottom: 100px; left: 260px; }
    .no-js #text-whatwedo { left: 750px; }
#text-whowe { position: absolute; bottom: 100px; left: 730px; z-index: 404; }
    .no-js #text-whowe { left: 1350px; }
#text-volunteers { background: transparent url('../img/volunteers-cloud.png') no-repeat; margin: 0; padding: 0; width: 474px; height: 379px; position: absolute; bottom: 170px; left: 2690px; z-index: 501; }
    .no-js #text-volunteers { left: 2800px; }
    #volunteer-content { width: 330px; height: 379px; position: relative; z-index: 200; margin: 0 60px 0 50px; }
    #volunteer-content h2 { text-align: left; margin: 0 0 30px 50px; padding-top: 40px; }
    #volunteer-content p { text-align: left; margin: 0 0 8px 90px; }
    #volunteer-content p span { font-size: 14px; font-weight: bold; }
    #volunteer-left { display: block; position: absolute; top: 75px; left: -41px; background: transparent url('../img/volunteer-left.png') no-repeat; width: 108px; height: 108px; z-index: 100; }
    #volunteer-right { display: block; position: absolute; top: 169px; right: -10px; background: transparent url('../img/volunteer-right.png') no-repeat; width: 108px; height: 108px; z-index: 100; }
        .no-js #volunteer-left, .no-js #volunteer-right { display: none; }
        .mobile #volunteer-left, .mobile #volunteer-right { display: block; }
    #text-volunteers a:hover { background-position: -108px 0; }
    .volunteer-img { float: left; background-color: transparent; background-repeat: no-repeat; }
#text-contact { display: none; cursor: default; background: transparent url('../img/phonebox-open.png') no-repeat; margin-left: 65px; width: 426px; height: 528px; z-index: 406; }
    .contact-right { float: right; width: 120px; margin: 40px 20px 0 0; }
    .contact-right-2 { float: right; width: 137px; margin-right: 80px; }
    .contact-right span { color: #2d8cc1; }
#text-help { background-image: url('../img/scroll.png'); padding-top: 80px; display: block; height: 580px; position: absolute; bottom: -600px; left: 3250px; z-index: 201; }
    .no-js #help-content { overflow: scroll; overflow-x: hidden; overflow-y: scroll; height: 340px; }
    .no-js #text-help { background-image: url('../img/paper.png'); left: 3350px; bottom: 70px; padding-right: 0; z-index: 400; }
    #help-p2 { display: none; }
        .no-js #help-p2 { display: block; }
    .no-js #help-nav p, .no-js .help-page { display: none; }
    #help-jg-t, #help-brit-t, #help-voda-t { display: none; }
    .no-js #help-jg-t, .no-js #help-brit-t, .no-js #help-voda-t { display: block; }
    #help-nav { margin-bottom: 15px; }
    #help-nav p { padding-top: 15px; }
    #help-nav a { float: left; display: block; height: 49px; width: 100px; background-color: transparent; background-repeat: no-repeat; background-position: bottom center; }
    #help-nav a.selected, #help-nav a:hover { background-position: top center; }
    #help-jg { width: 130px ! important; background-image: url('../img/help-justgiving.png'); }
    #help-brit { background-image: url('../img/help-britannia.png'); }
    #help-voda { background-image: url('../img/help-vodafone.png'); }
.no-js .content, .no-js #text-contact, .no-js .sign { display: block; cursor: default; }

.sign { cursor: pointer; }
#sign-events { z-index: 401; position: absolute; bottom: 400px; left: 1600px; border: 0; }
#sign-whatwedo { z-index: 401; position: absolute; bottom: 40px; left: 115px; border: 0; }
    .no-js #sign-whatwedo { left: 550px; }
#sign-whowe { z-index: 505; position: absolute; bottom: 40px; left: 1300px; border: 0; }
    .no-js #sign-whowe { left: 1200px; }
#sign-contact { z-index: 405; width: 200px; height: 183px; position: absolute; left: 2140px; bottom: 320px; background: transparent url('../img/flash-neon.png') no-repeat; }
#sign-volunteers { z-index: 501; position: absolute; bottom: 30px; left: 3000px; border: 0; }
    .no-js #sign-volunteers { left: 2900px; }
#sign-help { z-index: 401; position: absolute; bottom: 40px; left: 4225px; border: 0; }
    .no-js #sign-help { left: 3250px; }

.event-content{
    background-color: #2d8cc1;
    color: #fff;
    padding: 0px 10px 2px 10px;
    margin-bottom: 10px;
    position: relative;
}
.event-content p{
    color:#fff;
    text-align: left;
}
.event-desc{
    color: #fff;
    text-align: left;
}
.event-title{
    color: #fff !important;
    text-align: left !important;
}
.pastwrap{
    display: none;

}
.upcomingwrap{
    display:none;

}
.gallery-link{
    color: #a9e0ff;
    text-decoration: underline;
    position: absolute;
    bottom: 5px;

}
.event-date{
    float: right;
    margin-top: 5px;
}
.event-title h2{
    font-size: 32px;
    padding-top: 2px;
}
.event-content h2{
    font-size: 22px;
    margin-bottom: 5px;
}
.past{
    height: 150px;
}

.help-t span.right {
    text-align: right;
    float: right;
}
.left.downloads {
    float: left;
    text-align: left;
    padding-left: 9px;
}
.left.downloads a {
    transition: color .3s;
}
.left.downloads a:hover {
    color: #1a506e;
}

#help-nav a.selected.just-giving {
    background-position: bottom center;
}